.contact {
    display: flex;
    flex-direction: column;
}

.contact-item {
    flex: 1;
}

.contact-item > img {
    filter: grayscale(100%);
    width: 100%;
}

.contact-item:first-of-type {
    margin: 0 0 2rem 0;
}

.address input[type="text"],
.address select,
.address textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #4caf50;
    margin: 1rem 0;
    resize: vertical;
}

.address input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 1rem;
    border: none;
    cursor: pointer;
}

.address input[type="submit"]:hover {
    background-color: #45a049;
}

#message {
    min-height: 20vh;
}

/* 1024px / 16px/em = 64em */
@media screen and (min-width: 64em) {
    .contact {
        flex-direction: row;
        align-items: flex-start;
    }

    .contact-item:first-of-type {
        margin: 0 2rem 0 0;
    }
}
