.address input[type="text"],
.address select,
.address textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #4caf50;
    margin: 1rem 0;
    resize: vertical;
}

.address input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 1rem;
    border: none;
    cursor: pointer;
}

.address input[type="submit"]:hover {
    background-color: #45a049;
}

#message {
    min-height: 20vh;
}
