.nav {
    display: flex;
}

#desktop-nav {
    display: none;
}

#desktop-nav a,
#desktop-nav a:link,
#desktop-nav a:visited,
#desktop-nav a:active {
    font-weight: 900;
    text-decoration: none;
    outline: none;
    color: inherit;
    padding-left: 1rem;
}

#desktop-nav a:hover {
    color: white;
}

#mobile-menu {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        rgb(42, 42, 42),
        rgb(42, 42, 42),
        rgb(42, 42, 42, 0.95),
        rgba(42, 42, 42, 0.92),
        rgba(42, 42, 42, 0.94)
    );
    z-index: 2;
    cursor: pointer;
    overflow-y: hidden;
}

#mobile-menu.open {
    display: block;
}

.logo-icon {
    width: 2rem;
    height: 2rem;
    background-color: gray;
    margin: 0 1rem;
}

.logo-text {
    font-size: 150%;
    flex-grow: 1;
    margin: 0 1rem;
}

#menu {
    padding: 1rem 1rem calc(1rem - 4px) 1rem;
}

.menu-bar-1,
.menu-bar-2,
.menu-bar-3 {
    width: 25px;
    height: 3px;
    margin-bottom: 4px;
    background: white;
    transition: 200ms;
}

.open .menu-bar-1 {
    margin: 0;
    transform: translate(0px, 3px) rotate(225deg);
}

.open .menu-bar-2 {
    margin: 0;
    opacity: 0;
}

.open .menu-bar-3 {
    margin: 0;
    transform: translate(0px, -3px) rotate(135deg);
}

/* 640px / 16px/em = 40em */
@media screen and (min-width: 40em) {
    #mobile-nav {
        display: none;
    }

    #desktop-nav {
        display: block;
        margin-right: 1rem;
    }
}
